@import "base/mixins"

img.qrcode
  width: 100px
  height: 100px
  sharp-image()

.channel-list
  list-style: none
  clearfix()
  .title span
    display: inline-block
    margin-right: 0.2em
  .box
    position: relative
    margin-bottom: 30px
    margin-top: 5px
  .ops
    position: absolute
    bottom: 8px
    right: 8px
    font-size: 12px
    a
      text-decoration: none
      display: inline-block
      margin-left: 0.6em
      color: #999
  .pull-left
    margin: -14px 10px -14px -14px
