@import "base/mixins"

img.qrcode
  width: 100px
  height: 100px
  sharp-image()

.channel-list
  .title span
    display: inline-block
    margin-right: 0.2em
  .media
    position: relative
  .ops
    position: absolute
    bottom: 10px
    right: 10px
    font-size: 12px
    a
      text-decoration: none
      display: inline-block
      margin-left: 0.6em
      color: #999
  .pull-left
    margin: -14px 10px -14px -14px
