/**
* 自定义菜单样式
*/
.menu_main_container
{
  padding-left: 20px;
  position: relative;
}

/*顶部操作栏*/
.menu_top_console
{
  margin: 10px 0;
}

.menu_top_console button
{
  width: 80px;
  margin-right: 20px;
}

/*编辑模式和预览模式控制栏*/
.operate_mode
{
  width: 100%;
  
}

.operate_mode div
{
  width: 800px;
  height: 100px;
  border: solid #cccccc 1px;
  margin: 5px 0;
}

.operate_mode label
{
  width: 100px;
  color: #333333;
  font-size: 15px;
}

.operate_mode_status
{
  width: 500px;
  height: 75px;
  margin: 0;
  padding: 25px 0 0 100px;
  float: left;
  border-right: solid #cccccc 1px;
  overflow: hidden;
}

/*图标开关*/
.icon_mode_switch
{
  width: 52px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.icon_mode_switch.on
{
  background: url("/images/controls.png") 0 -410px no-repeat;
}

.icon_mode_switch.off
{
  background: url("/images/controls.png") 0 -446px no-repeat;
}

/*图标开关区域*/
.switch_area
{
  display: inline-block;
  width: 199px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  text-align: center;
}

.switch_area:hover
{
  background-color: #ededed;
}

.switch_area.on strong
{
  color: #cccccc;
  font-size: 17px;
}

.switch_area.on a
{
  color: #333333;
  font-size: 17px;
}

.switch_area.off strong
{
  color: #333333;
  font-size: 17px;
}

.switch_area.off a
{
  color: #cccccc;
  font-size: 17px;
}

/*开关状态图标*/
.switch_status
{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
}

.switch_status.on
{
  background: url("/images/controls.png") 0 -290px no-repeat;
}

.switch_status.off
{
  background: url("/images/controls.png") 0 -350px no-repeat;
}

/*菜单容器*/
.menus_container
{
  width: 100%;
  height: 400px;
  position: relative;
}

/*主菜单容器*/
.main_menu_container
{
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

/*主菜单标题*/
.main_menu_title
{
  height: 50px;
  line-height: 50px;
  color: #333333;
  font-size: 15px;
  text-align: right;
  float: left;
}

/*主菜单*/
.main_menus
{
  background-color: #cccccc;
  float: left;
}

.main_menus div
{
  float: left;
  width: 200px;
  margin: 1px;
  position: relative;
}

.main_menu_item
{
  list-style-type: none;
  width: 200px;
  height: 100%;
  background-color: #efefef;
  text-align: center;
  float: left;
}

.main_menu_item label
{
  line-height: 50px;
  color: #333333;
  font-size: 15px;
}

/*主菜单添加按钮*/
.add_main_menu_button
{
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #ff9900;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  float: left;
}

.add_main_menu_button:hover
{
  color: #ffffff;
  background-color: #ff9900;
  text-decoration: none;
}

/*二级菜单添加按钮*/
.add_sub_menu_button
{
  line-height: 50px;
  padding: 10px 20px;
  color: #ff9900;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.add_sub_menu_button:hover
{
  color: #ffffff;
  background-color: #ff9900;
  text-decoration: none;
}

/*二级菜单*/
.sub_menus
{
  position: absolute;
  min-width: 200px;
  left: 200px;
  bottom: 270px;
  background-color: #cccccc;
  text-align: center;
  overflow: hidden;
}

.sub_menus div
{
  margin: 1px;
  position: relative;
  overflow: hidden;
}

.sub_menu_item
{
  list-style-type: none;
  min-width: 200px;
  height: 100%;
  background-color: #efefef;
  text-align: center;
  float: left;
}

.sub_menu_item label
{
  line-height: 50px;
  color: #333333;
  font-size: 15px;
}

/*菜单的鼠标滑过显示的控制栏*/
.menu_item_console
{
  float: right;
  margin: 0;
  padding: 5px;
  right: 0;
  position: absolute;
  display: none;
}

.menu_item_console a
{
  cursor: pointer;
  margin: 3px;
}

.menu_item_console a img
{
  width: 15px;
  height: 15px;
  border: none;
}

/*菜单编辑框,编辑模式下显示*/
.menu_edit
{
  width: 100%;
  height: 100%;
  color: #333333;
  font-size: 15px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

/*菜单属性面板*/
.menu_prop
{
  width: 800px;
  height: 200px;
  background-color: #efefef;
  padding: 10px;
  margin: 10px 0;
}

.menu_prop label
{
  color: #222222;
  font-size: 17px;
}

/*属性标签*/
.menu_prop div ul
{
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: right;
  float: left;
}

.menu_prop div ul li
{
  list-style-type: none;
  color: #222222;
  font-size: 15px;
  margin: 5px 0;
  height: 30px;
  line-height: 30px;
}

/*属性值*/
.menu_prop div div
{
  width: 450px;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
}

.menu_prop div div li
{
  list-style-type: none;
  color: #222222;
  font-size: 15px;
  margin: 5px 0;
  height: 30px;
  line-height: 30px;
}

.menu_prop div div li input
{
  width: 400px;
}

.menu_prop div div p
{
  line-height:30px;
  height:30px;
}

.menu_prop div div li button
{
  margin: 5px 0;
}

/*菜单位置操作*/
.menu_prop div p
{
  height:30px;
  line-height:30px;
  margin: 0;
  padding: 0;
}

.menu_prop div p a
{
  color: #222222;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  float: left;
  margin: 0 10px;
}

.menu_prop div p li
{
  float: left;
  width: 100%;
  height: 50px;
  list-style-type: none;
}

.menu_prop div p li a
{
  width: 50px;
  color: #222222;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  float: left;
}

/*底部控制栏*/
.console_bar
{
  margin: 10px 0;
}

.console_bar label
{
  color: #333333;
  font-size: 17px;
}

.console_bar input
{
  margin-right: 20px;
}