/**
* 自定义菜单样式
*/
@import 'base/mixins'

menu_item_height = 40px

splitter(color=#ddd)
  display: block
  border-bottom: 1px solid color
  margin: 0 auto
  width: 50%


.wx-window
  height: 340px
  margin-bottom: 20px
  position: relative
  background: #f0f0f0
  border: 1px solid #ccc
  box-shadow: 0 3px 2px rgba(0,0,0,0.1)

.wx-window-watermark
  text-align: center
  max-height: 340px
  overflow: hidden
  padding: 30px
  font-size: 90px
  color: #e6e6e6

.wx-menu-editor
  .help-text
    color: #999
    h4
      color: #666
    ol
      padding-left: 1.5em
  .action-buttons
    text-align: center
    .btn
      margin-right: 5px

.wx-menu
  position: absolute
  margin: 0
  padding: 0
  width: 100%
  bottom: 0
  height: menu_item_height
  line-height: menu_item_height
  background: linear-gradient(top, #fefefe 0%, #f3f3f3 60%)
  border-top: 1px solid #ddd
  list-style: none
  .sortable-placeholder
    min-width: 33%
    background: #f0f0f0
  .ops
    display: none
    line-height: 1
    position: absolute
    right: 2px
    top: 5px
    font-size: 12px
  li
    position: relative
    text-align: center
  li.active
    box-shadow: 0 0 3px #fd0

  li:hover > .ops
    display: block
  li.editting:hover .ops
    display: none
  input.camo
    display: none
    line-height: menu_item_height - 22px
    padding: 10px 0
    text-align: center
    width: 100%
    vertical-align: top
  .placeholder
    font-style: italic
    color: #ccc
  .text
    height: 100%
    display: block
    overflow: hidden

.editting
  .text, .ops
    display: none
  input.camo
    display: inline-block

.wx-mainmenu
  @extend .wx-menu
  > li
    vertical-align: top
    height: 100%
    border-right: 1px solid #ddd
    display: inline-block
  > li:last-child
    border-right: 0

.wx-submenu
  @extend .wx-menu
  border-top: 0
  height: auto
  position: static
  > li
    height: menu_item_height


.wx-submenu-button
  width: 9em
  &:after
    content: ''
    splitter()
  &:last-child:after
    display: none
  .ops
    font-size: 11px
    background: #fafafa
    border: 1px solid #ddd
    border-left: 0
    border-radius: 0 4px 4px 0
    padding: 2px 0
    right: -20px
    top: 6px


.wx-submenu-container
  display: none
  position: absolute
  bottom: menu_item_height + 10px
  max-width: 200px
  background: #fafafa
  border: 1px solid #d9d9d9
  border-radius: 3px
  .add-item
    display: block
    padding: 0 20px
    background: none
    &:after
      splitter()
    &[disabled]
      display: none
  &:after, &:before
    position: absolute
    bottom: -5px
    content: ''
    display: inline-block
    left: 50%;
  &:before
    margin-left: -3px
    bottom: -6px
    tri-down(6px, #d0d0d0, 4px)
  &:after
    margin-left: -2px
    tri-down(5px, #f9f9f9, 3px)


.wx-menu-props
  position: absolute
  bottom: -1px
  left: 100%
  margin-left: 20px
  padding: 20px 20px 10px 10px
  min-width: 320px
  max-width: 600px
  background-color: #f0f0f0
  box-shadow: 3px 0 10px rgba(0,0,0,0.1)
  border-radius: 3px
  border: 1px solid #ddd
  .control-label
    padding-right: 0
  .close
    position: absolute
    line-height: 0.5em
    right: 5px
    top: 5px
  legend
    font-size: 16px
