#choose-channel
  .modal-body
    padding: 50px 40px
  .place-channel-list
    margin-top: 30px

.place-channel-list
  border: 1px solid #ccc
  li
    border-bottom: 1px dashed #ddd
    margin: 0
    position: relative
    .ops
      position: absolute
      padding: 10px 5px
      right: 0
      top: 0
    &:last-child
      border: 0
  li > a
    display: block
    padding: 10px
    &:hover
      text-decoration: none
      background: #f6f6f6



select.loc-select
  width: 25%
  display: inline-block
  margin-right: 2%
