
.rules-list
  .panel-footer
    text-align: right
  .panel-body
    padding-left: 30px
    padding-right: 20px
  .section-bar
    line-height: 32px
    padding: 5px 25px 5px 15px
    margin: 0 -20px 20px -30px
    background: #f0f0f0
    border-top: 1px solid #e0e0e0
  .panel-body > .section-bar:first-child
      margin-top: -15px
  .panel-heading
    font-weight: 600

.rule-item
  position: relative
  margin-bottom: 1px
  .news-message
    margin: 0 10px 0 0
    display: inline-block
    vertical-align: top
  .ops .lnk-icon
    margin-left: 8px
    color: #999
    text-decoration: none



.pattern-item
  &:before
    content: '\2248'
    display: inline-block
    color: #ccc
    width: 0.5em
    font-size: 1.1em
    line-height: 0
    margin-top: 0.2em
    margin-right: 0.4em
  &.exact-match
    .keyword
      font-weight: 600
    &:before
      content: '='
      color: #999


.rule-reply
  .tab-content
    min-height: 100px
  .section-title
    display: none
    margin-right: 1em
  .section-bar .nav-tabs
    display: inline-block
    vertical-align: middle
    margin-top: -2px
    font-size: 12px
  .nav-tabs
    border: 0
  .nav-tabs > li > a
    border-radius: 1px
    padding-top: 4px
    padding-bottom: 4px
    margin-top: 0
    transition: none
    background: #fff
  .nav-tabs > li.active > a
    border-color: lighten(brand-primary, 15%)
    padding-top: 4px
    padding-bottom: 4px

.rule-item .section-title
  display: inline-block
