body
  background: bg_header

.main-container
  background: #fff
  padding: 20px

.layout-normal
  margin-left: sidebar_width

.layout-single
  margin: 5% auto auto
  padding: 20px
  max-width: 600px
  .main-container
    padding: 50px 30px
    background: linear-gradient(top, #fff, #fefef5)
    border-radius: 3px
    box-shadow: 0 4px 16px rgba(0,0,0,0.2)

.heading
  text-align: center
  margin-bottom: 20px
