<div class="map-control map-autocomplete">
  <input name="address" class="typeahead form-control searcher" type="text" placeholder="{{t 'place.address_tip'}}" >
</div>
<div class="map-control">
  <a class="btn btn-default btn-xs toggler">
    <span class="to-enlarge" data-op="enlarge">
      {{t 'enlarge'}}
      <!--<i class="icon-arrow-down"></i>-->
    </span>
    <span class="to-shrink" data-op="shrink">
      <!--<i class="icon-arrow-up"></i>-->
      {{t 'shrink'}}
    </span>
  </a>
</div>
<div class="map-container">
  <div class="map"></div>
</div>
