{{#widget 'heading2' title='locs.index.h1'}}
<a href="{{url 'super/loc#create'}}" class="btn btn-sm btn-primary">
  <i class="icon-plus-alt"></i>
  {{t 'create'}}
</a>
{{/widget}}
<div class="box">
  <h5>{{t 'locs.selector_preview'}}</h5>
  <div class="loc-selector">
  </div>
</div>
<div class="list-container">
</div>
