{{#widget 'heading2' title='users.index.h1'}}
<button class="btn btn-sm btn-primary">
  <i class="icon-plus"></i>
  {{t 'create'}}
</button>
{{/widget}}
<div class="box">
  <div id="listable">
  </div>
</div>
