#header
  position: relative
  z-index: header_index

.navbar-default
  border-radius: 0
  background: bg_sidebar
  border-color: darken(bg_sidebar, 10%)

.navbar-brand
  width: sidebar_width
  display: block
  height: 100%
  background: lighten(bg_sidebar, 4%)
