#header
  position: relative
  z-index: header_index
  a:hover
    color: #666
  .navbar-default
    border-radius: 0
    border-left: 0
    border-right: 0
  .navbar-brand
    width: sidebar_width
    overflow: hidden
    font-size: 12px
    white-space: nowrap
    display: block
    height: header_height
    padding: 8px
    span
      line-height: 9999em
    i 
      display: block
      height: 100%
      background: url('/images/logo-white.svg') no-repeat 50% 50%
      background-size: 100%;
    &:hover
      color: #aaa


#header-navbar
  margin-left: sidebar_width
  position: relative


.view-title
  height: 24px
  margin-bottom: 20px
  .back-btn
    margin-right: 10px
    font-size: 14px
    line-height: 1
    padding: 6px 10px 4px
  .btn-sm
    line-height: 1.2
  h1
    vertical-align: middle
    display: inline
    margin: 0
  .subtitle
    color: #999
    font-size: 17px
    line-height: 1.2
    display: inline
    vertical-align: bottom
    &:before
      vertical-align: bottom
      content: ' / '
      color: #ccc
  button
    margin-left: 0.5em
  span
    margin-right: 0.5em

.heading
  text-align: center
  margin-bottom: 30px

.ticker
  padding: 5px 12px


.navbar
  .avatar
    margin-right: 0.6em
    width: 24px
    img
      margin: -6px 0 0
      width: 24px
      height: 24px
