table_border_color = #eee

.listable
  .table
    margin-bottom: 0
    td, th
      vertical-align: middle
  .placeholder, .fallback
    display: none
    color: #aaa
    padding: 80px 20px
    border: 1px solid table_border_color
    text-align: center
  .placeholder
    border-top: 0


.op-btns
  .btn
    margin-right: 0.3em
