table_border_color = #eee

.listable
  .table
    margin-bottom: 0
  .placeholder, .fallback
    color: #aaa
    padding: 80px 20px
    border: 1px solid table_border_color
    border-top: 0
    text-align: center
