
.noti
  position: absolute
  z-index: 1000
  text-align: center
  top: 10px
  left: 0
  right: 0
  font-size: 12px
  .alert
    display: inline-block
    padding: 0.5em 1em


#global-noti
  top: 0
  position: fixed
  .alert
    border-radius: 0 0 3px 3px
