
.noti
  position: absolute
  text-align: center
  top: 20px
  left: 0
  right: 0
  font-size: 12px
  .alert
    display: inline-block
    padding: 0.5em 1em


#global-noti
  top: header_height + 10px
