
bg_super_sidebar = lighten(bg_sidebar, 3) + #01060f

sidebar-colors(base_color)
  .sidebar-nav
    border-right: 1px solid darken(base_color, 5%)
    border-top: 4px solid darken(base_color, 5%)
    &, .nav
      background: base_color
    .nav
      > li > a:hover
        background: lighten(base_color, 2%)
      > li.active > a
        background: lighten(base_color, 11%)
    .nav .nav
      background: lighten(base_color, 3%)
      > li > a:hover
        background: lighten(base_color, 5%)
      > li.active > a
        background: lighten(base_color, 11%)
  #header
    .navbar-brand
      background: lighten(base_color, 10%)
      &:hover
        background-color: lighten(base_color, 8%)


.sidebar-nav
  text-transform: capitalize
  //height: 100%
  width: sidebar_width
  position: absolute
  z-index: header_index + 1
  left: 0
  bottom: 0
  top: header_height
  box-sizing: border-box
  padding-top: 20px
  .main-menu > .nav > li
    margin-top: 1px
    border-top: 1px solid rgba(0,0,0,0.15)
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.05)
  .nav
    a
      cursor: pointer
      color: #999
      //color: rgba(255,255,255,0.5)
      border-radius: 0
    > li > a:hover
      color: #bbb
      //color: rgba(255,255,255,0.7)
    > li.active > a
      color: #ccc
      //color: rgba(255,255,255,0.9)
    > li > a.toggler:hover
      color: #aaa
      
  .nav .nav
    font-size: 13px
    a
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 25px


sidebar-colors(bg_sidebar)

.page-super
  sidebar-colors(bg_super_sidebar)
