
.sidebar-nav
  height: 100%
  width: sidebar_width
  margin-top: -1px
  border-right: 1px solid darken(bg_header, 5%)
  padding-top: 20px
  position: absolute
  left: 0
  &, .nav
    background: bg_header
  a
    color: #fff
  a:hover
    color: #333
