
.sidebar-nav
  height: 100%
  width: sidebar_width
  margin-top: -1px
  border-right: 1px solid darken(bg_header, 5%)
  position: absolute
  left: 0
  top: 0
  padding-top: header_height
  box-sizing: border-box
  &, .nav
    background: bg_header
  a
    color: #fff
  a:hover
    color: #333
