body, html
  background-color: bg_light

.box
  padding: 10px
  background: #fff
.card
  @extend .box
  padding: 0
  margin-bottom: 30px
  background: #fff
  .hd, .bd
    margin: 0
    padding: 15px
  .hd
    font-size: 16px
    padding-top: 12px
    padding-bottom: 12px
    border-bottom: 1px solid line_light 
