fieldset.splitted
  padding-right: 60px
  margin-bottom: 30px
  legend
    text-align: center
    margin-bottom: 2.5em
    font-size: 1.1em
    color: #999
    span
      display: inline-block
      position: relative
      bottom: -0.8em
      padding: 0 0.8em
      background: #fff

.edit-form
  position: relative
  .form-group
    position: relative
  .form-tip
    position: absolute
    white-space: nowrap
    left: 100%
    top: 0.5em
.main-content
  .edit-form
    margin-right: 14em

.form-message
  animation-duration: 0.8s;
  &.holded
    min-height: 45px
  &.fixed
    position: absolute
    right: 0
    top: -60px

.form-control[readonly]
  cursor: text

textarea.form-control
  padding: 0.7em 0.8em

input.camo
  border: 0
  box-shadow: none
  &:focus
    box-shadow: none
    outline: 0
