.edit-form
  position: relative
  .form-group
    position: relative
  .form-tip
    position: absolute
    white-space: nowrap
    left: 100%
    top: 0.5em
.main-content
  .edit-form
    margin-right: 14em

.form-message
  animation-duration: 0.8s;
  &.holded
    min-height: 45px
  &.fixed
    position: absolute
    right: 0
    top: -60px
