body, html
  background-color: bg_light

.main-container
  .container
    margin-left: 0

.layout-normal
  #header .navbar
    margin-bottom: 0
  #main
    .bouncing-bar
      z-index: header_index
      left: sidebar_width
      top: header_height - 20px
    // DON'T set this with relative
    margin-left: sidebar_width
    min-height: 600px
    padding-top: 24px
    margin-top: -3px

.modal-open #main > .bouncing-bar
  display: none

.layout-single
  padding: 8% 0
  &, body
    background: bg_dark
  .heading h1
    color: #aaa
  #main
    padding: 20px
    max-width: 600px
    margin: 0 auto
  .main-container
    padding: 50px 30px
    background: linear-gradient(top, #fff, #fcfcfc)
    border-radius: 3px
    box-shadow: 0 4px 16px rgba(0,0,0,0.2)

