// type ahead empty row
.tt-empty
  padding: 3px 20px

input.tt-hint[disabled]
  background-color: transparent

.sep
  color: #999

.foldable
  transition: 0.2s all
  overflow: hidden

.folded
  overflow: hidden
  padding-top: 0 !important
  padding-bottom: 0 !important
  border-top-width: 0 !important
  border-bottom-width: 0 !important
  height: 0 !important


.ops
  a
    display: inline-block
    line-height: 1em
    padding: 0.25em
    cursor: pointer
    color: #999
    &:hover
      color: #379
      text-decoration: none
  a[data-op=toDelete]
    &:hover
      color: red

