html
  position: relative
  min-height: 100%

h1
  font-size: 22px
  margin-bottom: 30px
  margin-top: 10px

h4
  margin-bottom: 1em

$fff_text
  color: #fff

.table-bordered
  thead, tbody
    > tr >
      th, td
        border-color: #ddd

.navbar, thead th, .view-title
  text-transform: capitalize

.error-detail a
  color: inherit

for n in (1..6)
  h{n}, .h{n}
    .alert &
      @extend $fff_text

.alert-danger
  color: lighten(brand-danger, 90%)

.alert-warning
  color: lighten(brand-warning, 90%)


[class^="icon-"], [class*=" icon-"]
  margin-right: 0.05em
