html
  position: relative
  min-height: 100%

h1
  font-size: 22px
  margin-bottom: 30px
  margin-top: 10px

$fff_text
  color: #fff

.table-bordered
  thead, tbody
    > tr >
      th, td
        border-color: #ddd
  thead th
    text-transform: capitalize

.error-detail a
    color: inherit

for n in (1..6)
  h{n}, .h{n}
    .view-title &
      text-transform: capitalize
    .alert &
      @extend $fff_text

.alert-danger
  color: lighten(brand-danger, 70%)

.alert-warning
  color: lighten(brand-warning, 70%)
