.btn, a
  [class^="icon-"], [class*=" icon-"]
    margin-right: 0.05em



.view-title
  height: 24px
  margin-bottom: 20px
  .back-btn
    margin-right: 10px
    font-size: 14px
    line-height: 1
    padding: 6px 10px 4px
  .btn-sm
    line-height: 1.2
  h1
    vertical-align: middle
    display: inline
    margin: 0
  .subtitle
    color: #999
    font-size: 17px
    line-height: 1.2
    display: inline
    vertical-align: bottom
    &:before
      vertical-align: bottom
      content: ' / '
      color: #ccc
  button
    margin-left: 0.5em

.heading
  text-align: center
  margin-bottom: 30px

.list-stacked > li
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0


.modal
  .help-block
    font-size: 0.9em
    margin-top: 0.5em
  .form-horizontal
    margin-top: 20px
    margin-right: 60px
