.btn, a
  [class^="icon-"], [class*=" icon-"]
    margin-right: 0.05em


.list-stacked > li
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0


.modal
  .help-block
    font-size: 0.9em
    margin-top: 0.5em
  .form-horizontal
    margin-top: 20px
    margin-right: 40px
    margin-left: 20px
  .form-message .alert
    margin-bottom: 0
