{{#widget 'heading2' title='autoreply'}}
{{/widget}}
<div class="row">
  <div class="col-md-3 col-md-push-9">
    <div class="box tabs-filter">
    </div>
  </div>
  <div class="col-md-9 col-md-pull-3">
    <div class="big-box">
      <form id="rules" class="form form-horizontal">
      </form>
    </div>
  </div>
</div>
