<div class="container">
<div class="alert alert-{{category}}">
  {{#if title}}
    <h1>{{title}}</h1>
  {{/if}}
  {{#if detail}}
    <div class="error-detail">
      {{{detail}}}
    </div>
  {{/if}}
</div>
</div>
