{{widget 'heading2' back='javascript:history.go(-1);' title='subscribers.show.h1'}}
<div class="row">
  <div class="col-sm-9">
    <div id="message-dialog">
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>


