{{#widget 'heading2' title='subscribers.index.h1' name=total}}

<button class="btn btn-xs btn-primary" title="{{t 'subscriber.sync_with_wechat'}}" data-op="toSync">
  {{t 'sync'}}
</button>

{{/widget}}

{{include 'views/base/templates/listable' tableClass="table-bordered table-striped subscriber-list"}}
