<div class="scroll-widget">
  <ul class="media-list">
    {{#each activities}}
      <li class="media">
      <a class="avatar pull-left" href="#">
        <img class="media-object" src="/images/avatar/{{@index}}.jpg" alt="Avatar">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="">John Doe</a> <small>Just now</small></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </div>
      </li>
    {{/each}}
  </ul>
</div>
