{{widget 'heading2' title='dashboard' subtitle='dashboard.subtitle'}}
<div class="row">
  <div class="col col-md-9">
    {{#widget 'card' title='dashboard.realtime'}}
      <div id="realtime"></div>
    {{/widget}}
  </div>
  <div class="col col-md-3">
    {{#widget 'card' title='graph.yesterday'}}
      <ul class="row list-unstyled list-stacked">
        <li class="col-sm-4 col-md-12 col-xs-6">
          {{widget 'ui/iconed-text' icon='user' num=381 text='subscribers' cls='warning'}}
        </li>
        <li class="col-sm-4 col-md-12 col-xs-6">
          {{widget 'ui/iconed-text' icon='bubble2' num=21942 text='messages' cls='success'}}
        </li>
        <li class="col-sm-4 col-md-12 hidden-xs">
          {{widget 'ui/iconed-text' icon='share' num=138 text='unsubscribe' cls='info'}}
        </li>
      </ul>
    {{/widget}}
  </div>
</div>
<div class="row recent-updates">
  <div class="col-md-6">
    {{#widget 'card' title='graph.last7'}}
      <div id="last7-chart">
      </div>
    {{/widget}}
  </div>
  <div class="col-md-6">
    {{#widget 'card' title='graph.last30'}}
      <div id="last30-chart">
      </div>
    {{/widget}}
  </div>
</div>
