{{#widget 'heading2' back='/subscribers'}}
{{#set 'title'}}
{{t 'subscribers.show.h1' name}}
{{/set}}
{{/widget}}
<div class="row">
  <div class="col-sm-9">
    <div class="box">
      <div class="main-content messages">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>


