{{#widget 'heading2' title='stats'}}
{{/widget}}
<div class="recent-updates">
  {{#widget 'card' title='graph.last30'}}
  <div id="stats-last30" class="with-transitions with-3d-shadow">
  </div>
  {{/widget}}
</div>

