<div class="form-group">
  <div class="col-sm-1 control-label">
    {{t 'rule.keyword'}}
  </div>
  <div class="col-sm-9">
    <textarea name="pattern" rows="4" class="form-control">{{json pattern}}</textarea>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-1 control-label">
    {{t 'rule.reply'}}
  </div>
  <div class="col-sm-9">
    <textarea name="pattern" rows="4" class="form-control">{{json handler}}</textarea>
  </div>
</div>
