<p class="tip text-muted">
{{t 'autoreply.subscribe.tip'}}
</p>
<input type="hidden" name="pattern" value="{{pattern}}">
<div class="form-group">
  <div class="col-sm-12">
    {{include 'views/autoreply-view/templates/rule/mod/reply'}}
  </div>
</div>
