{{#widget 'heading2' title='medias.index.h1'}}
<a href="{{url 'super/media#create'}}" class="btn btn-sm btn-primary">
  <i class="icon-plus-alt"></i>
  {{t 'create'}}
</a>
{{/widget}}
<div class="container box">
  <div id="listable">
  </div>
</div>
