{{#widget 'heading2' back='/super/medias'}}
{{#set 'title'}}
  {{#if isNew}}
    {{t 'medias.create'}}
  {{else}}
    {{t 'medias.edit' name}}
  {{/if}}
{{/set}}
{{/widget}}
<div class="box">
  {{ include edit_media }}
</div>
