<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
<button class="btn init">$el.modal()</button>
<button class="btn show">$el.modal('show')</button>
<script>
  jQuery(document).ready(function($) {
    $('.init').click(function() {
      var $modal = getModalCode();
      $(document.body).append($modal);
      $modal
      .on('show.bs.modal', function () {
        console.log('[show] - ' + document.body.className);
      })
      .on('shown.bs.modal', function () {
        console.log('[shown] - ' + document.body.className);
      })
      .on('hide.bs.modal', function () {
        console.log('[hide] - ' + document.body.className);
      })
      .on('hidden.bs.modal', function () {
        console.log('[hidden] - ' + document.body.className);
        $modal.remove();
      })
      .modal();
    });

    $('.show').click(function() {
      var $modal = getModalCode();
      $(document.body).append($modal);
      $modal
      .on('show.bs.modal', function () {
        console.log('[show] - ' + document.body.className);
      })
      .on('shown.bs.modal', function () {
        console.log('[shown] - ' + document.body.className);
      })
      .on('hide.bs.modal', function () {
        console.log('[hide] - ' + document.body.className);
      })
      .on('hidden.bs.modal', function () {
        console.log('[hidden] - ' + document.body.className);
        $modal.remove();
      })
      .modal({'show': false})
      .modal('show');
    });
  });
  function getModalCode() {
    return $('<div class="modal"><div class="modal-dialog">    <div class="modal-content">      <div class="modal-header">        <button data-dismiss="modal" class="close" type="button" aria-hidden="true">&times;</button>        <h4 class="modal-title" id="crMoDi__modal-label" style="display: block;">Title</h4>      </div>      <div class="modal-body block">        <div class="modal-loader" style="display: none;"></div>        <div class="contents" style="display: block;">          Some text inside.        </div>      </div>    </div>  </div></div></div>');
}
</script>

