{{#widget 'modal' id='create-channel' title='channels.create'}}


{{#set 'footer'}}
  <button class="btn btn-default">
    {{t 'cancel'}}
  </button>
  <button class="btn btn-primary">
    {{t 'create'}}
  </button>
{{/set}}

{{/widget}}
