<span class="ops">
  <!--<a data-op="toEdit"><i class="icon-pencil"></i></a>-->
  <a data-op="toDelete"><i class="icon-remove"></i></a>
</span>
<span data-ref="name" class="text">{{name}}</span>
<input data-ref="name" name="name" type="text" class="camo" value="{{name}}"
  placeholder="{{t 'menu.input_label'}}" maxlength="16" />
