<li class="main_menu_item">
  <label>{{t 'menu.main_menu'}}</label>
</li>
<p class="menu_item_console">
  <a><img src="/images/edit.png" /></a>
  <a><img src="/images/delete.png" /></a>
</p>
<input type="text" class="menu_edit" />