<div class="collection-indicator">
  <div class="spinner"></div>
</div>
<div class="collection-fallback">
  {{#if fallback.title}}
    <h2>{{t fallback.title}}</h2>
  {{/if}}
  {{#if fallback.message}}
    <p>{{t fallback.message}}</p>
  {{/if}}
</div>
<table class="listable table table-bordered table-striped">
  {{include thead}}
  <tbody>
  </tbody>
</table>
