{{#if pmwx}}
<style>
  #sidebar, #header {
    display: none;
  }
  .layout-normal #main {
    margin-left: 0;
    padding-top: 0;
  }
</style>
{{/if}}
<header id="header">
</header>
<div class="body">
  <div id="sidebar">
  </div>
  <div id="main">
    <div class="bouncing-bar">
      <div class="bar"></div>
    </div>
    <div id="global-noti" class="noti"></div>
  </div>
</div>
<footer id="footer">
</footer>
