bubble_bg = #f7f7f7
bubble_text = #677693

.chat-widget
  .media-list
    color: bubble_text
    > .pull-left
      margin-right: 10px
    > .pull-right
      margin-left: 10px
  .media
    padding: 5px 20px
  .media-body
    font-size: 16px
    background: bubble_bg
    padding: 0.8em
    border-radius: 6px
    min-height: 60px
    max-width: 360px
    margin-left: auto
  .incoming
    .media-body
      margin-left: 0
  .time
    font-size: 0.8em
    text-align: right
    margin: 1em 0 0.3em
    color: desaturate(lighten(bubble_text, 50%), 50%)


.news-message
  box-shadow: 0 1px 0 rgba(0,0,0,.05)
  border-radius: 4px
  width: 300px
  margin: 0 auto
  a
    display: block
    border-radius: 4px
    background: #fff
    border: 1px solid #cfcfcf
    padding: 10px
    &:hover
      text-decoration: none
  h3
    font-size: 18px
    line-height: 1.2em
    margin: 0 0 0.5em
  img
    height: 100px
    width: 100%
    display: block
    background: #f9f9f9
