.iconed-text
  padding: 5px
  white-space: nowrap
  .icon
    font-size: 2em
    width: 2em
    height: 2em
    border-radius: 1em
    margin-right: 0.3em
    vertical-align: middle
    text-align: center
    display: inline-block
    color: #fff
    span
      line-height: 2em
  .text
    display: inline-block
    vertical-align: middle
    line-height: 1.4
    strong
      font-size: 1.7em
      line-height: 1.2
      font-weight: 400
  &.success
    .icon
      background: brand-success
  &.info
    .icon
      background: brand-info
  &.danger
    .icon
      background: brand-danger
  &.warning
    .icon
      background: brand-warning
